<div
  class="px-8 py-4 flex gap-4 hover:bg-black/[.1] transition-colors border-b border-neutral-800 last:border-none items-center">
  <mat-checkbox #checkbox color="secondary" [checked]="data()?.done" (change)="changed(checkbox)"/>
  <div class="flex flex-col grow">
    <h1 class="text-xl w-full line-clamp-1" [ngClass]="{
    'line-through text-gray-600': data()?.done
    }">{{ data()?.title }}</h1>
    @if (data()?.description) {
      <p class="text-gray-700 w-full line-clamp-2">{{ data()?.description }}</p>
    }
  </div>
  <div class="flex gap-4">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
      <button mat-menu-item aria-label="Edit Task" (click)="openEditTaskDialog()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="listsMenu">
        <mat-icon>list</mat-icon>
        <span>Add To List</span>
      </button>
    </mat-menu>
    <mat-menu #listsMenu="matMenu">
      @for (list of lists$ | async; track list.id) {
        <button mat-menu-item (click)="addToList(list)">{{ list.title | capitalizeFirstLetters }}</button>
      }
    </mat-menu>
  </div>
</div>
